// @mixin clipPath($clipPath, $leftAfter, $leftBefore, $topAfter, $topBefore) {
//   .picture__cover {
//     clip-path: $clipPath;
//     left: 0px;
//   }
//   &::before {
//     clip-path: $clipPath;
//     left: 0px;
//   }
//   &::after {
//     clip-path: $clipPath;
//     left: 0px;
//   }
//   &:hover {
//     &::after {
//       clip-path: $clipPath;
//       left: $leftAfter;
//       top: $topAfter;
//     }
//     &::before {
//       clip-path: $clipPath;
//       left: $leftBefore;
//       top: $topBefore;
//     }
//   }
// }

.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: inherit;
  overflow: hidden;

  &__main-screen {
  }

  &__title {
    font-size: 48px;
    letter-spacing: 2px;
    font-weight: 700;
    margin-top: 4vh;
    position: relative;
    z-index: 8;
  }
  &__gallery {
    display: flex;
    margin-top: 4vh;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-left: -1rem;

    & > div {
      &:nth-child(1) {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
      }
    }

    &-picture {
      height: 100%;
      max-width: 19vw;
      background: transparent;
      position: relative;
      transition: all 0.4s $cubic-bezier-small;
      z-index: 6;
      cursor: pointer;

      margin: 0px 2rem;

      &:nth-child(1) {
        height: 90%;
        bottom: 10px;
      }
      &:nth-child(2) {
        top: -20px;
      }
      &:nth-child(3) {
        height: 90%;
        top: 15px;
      }
      &--active {
        scale: 1.05;
      }
      &--clicked {
        flex-grow: 1.5;
      }

      .picture__cover {
        height: 100%;
        background-position: center;
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: contain;
        position: relative;
        z-index: 6;
      }
      .picture__overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 6;
        transition: all 0.5s ease-out;
      }
    }
    &-overlay {
      position: absolute;
      height: auto;
      width: 100vw;
      left: 0;
      top: 0;
      background-color: rgba(#000, 0);
      margin: auto;
      transition: all 0.6s;
      display: flex;
      justify-content: center;
      align-items: center;
      visibility: hidden;
      &--active {
        z-index: 10;
        visibility: visible;
        background-color: rgba(#000, 0.5);
      }
    }
    &-selected {
      border-top: 3px solid #fff;
      width: 100%;
      height: 100%;
      visibility: hidden;
      &--active {
        visibility: visible;
      }
    }
    &-selected-closed {
      color: #fff;
      font-size: 32px;
      font-weight: 600;
      position: absolute;
      right: 120px;
      top: 60px;
      cursor: pointer;
      visibility: inherit;
    }
  }
  &__description {
    position: relative;
    z-index: 6;
    color: #fff;
    letter-spacing: 2px;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 12vh;
    text-shadow: 0px 1px 5px #000;
    transition: all 0.6s;
    &:hover {
      scale: 1.05;
    }
    @media screen and (max-width: 800px) {
      margin-bottom: 2vh;
      font-size: 1rem;
    }
  }
  &__content {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__sidebar {
    padding-top: 72px;
    width: 30%;
  }
}
.home__link {
  margin-top: 4vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin-left: 1rem;
  .home__link-item {
    position: relative;
    transition: all 0.45s $cubic-bezier-small;
    cursor: pointer;
    z-index: 8;
    margin: 0px 4.5rem;
    &:hover {
      scale: 1.1;
    }
    .home__link-image,
    img.home__link-image {
      position: relative;
      right: 20px;
      z-index: 6;
      width: 15vw;
      height: 11vh;
    }
  }
}

@keyframes swept {
  0% {
    bottom: 0;
    width: 0%;
  }
  100% {
    width: 36%;
  }
}

@keyframes startTitle {
  0% {
    bottom: 0;
    top: -20vh;
  }
  40% {
    bottom: 0;
  }
  70% {
    bottom: 0;
  }
  100% {
    top: -80vh;
  }
}
@media screen and (max-width: 800px) {
  @keyframes startText {
    0% {
      opacity: 0;
      top: 60vh;
      scale: 0.8;
    }
    45% {
      opacity: 0;
    }
    70% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      top: 40vh;
      scale: 1;
      opacity: 1;
    }
  }
}
@keyframes startText {
  0% {
    opacity: 0;
    top: 60vh;
    scale: 0.8;
  }
  45% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    top: 50vh;
    scale: 1;
    opacity: 1;
  }
}
@keyframes startBackground {
  0% {
    opacity: 0.9;
  }
  80% {
    opacity: 0.9;
  }
  99.9% {
    display: block;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  15% {
    transform: scale3d(0.95, 1.05, 1);
  }
  25% {
    transform: scale3d(1.05, 0.95, 1);
  }
  40% {
    transform: scale3d(0.95, 1.05, 1);
  }
  55% {
    transform: scale3d(1.05, 0.95, 1);
  }
  70% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes getOutText {
  0% {
    opacity: 1;
    scale: 1;
    top: 50vh;
  }
  100% {
    opacity: 0;
    top: 55vh;
    scale: 0.8;
  }
}
.disabled-secuence {
  .home-recommendation {
    animation: none;
    display: none;
  }
  .home__title-container {
    display: none;
  }
  .background-screen {
    display: none;
  }
}
.loaded-secuence {
  .home__title-container {
    top: -80vh;
    scale: 1;
    opacity: 1;
  }
  .background-screen {
    display: none;
  }
  .home-recommendation {
    animation: none;
    display: none;
  }
}
.init-secuence {
  .background-screen {
    animation: startBackground 8s forwards ease-out;
  }
  .home__title-container {
    animation: startTitle 1.5s forwards ease-in-out;
  }
  .home-recommendation {
    animation: startText 1.5s forwards ease-out, getOutText 1.5s 6.8s forwards;
  }
}
.remove-element {
  .home-recommendation {
    animation: getOutText 1.5s forwards, jello-horizontal 1.5s forwards !important;
  }
}
.render-sequence {
  .home__title-container {
    animation: swept 3s ease-in-out forwards;
  }
  .home-recommendation-icon {
    animation: jello-horizontal 1.5s infinite;
  }
}
.background-screen {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #000;
  opacity: 0.9;
  width: 100vw;
  height: 100vh;
  z-index: 9;
}
.home__title-container {
  overflow: hidden;
  width: 36%;
  position: absolute;
  height: 5.5rem;
  text-wrap: nowrap;
  z-index: 10;
  left: 0;
  top: -20vh;
  bottom: 0;
  margin: auto;
  font-size: 3rem;
  right: 0;
  text-align: center;
  @media screen and (max-width: 800px) {
    font-size: 1.15rem;
  }
}
.title-text {
  position: absolute;
  background: linear-gradient(86deg, #01999c, #de9400, #fd4739);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 5;
}
.title-shadow {
  position: absolute;
  color: transparent;
  text-shadow: 0px 1px 5px #000;
}
.home-recommendation {
  position: absolute;
  top: 50vh;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  text-align: center;
  font-weight: 600;
  z-index: 10;
  cursor: pointer;
  animation: startText 5s forwards;
  &-icon {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    img {
      width: 4rem;
      height: 4rem;
      margin: 0 2rem;
    }
  }
  &-text {
    font-size: 2rem;
    color: #fff;
  }
}
