$color-black-notation: #292929ef;
$color-blue-1: #24232a;
$color-blue-2: #4648ad;
$color-blue-3: #2098cc;
$color-pink-1: #af61cf;
$color-pink-2: #8b33ae;
$color-pink-3: #dc5690;
$color-yellow-1: #cca202;
$color-yellow-2: #dfcd01;
$color-yellow-3: #e6e460;
