@mixin backgroundContainer($url, $height: '') {
  @if ($height != '') {
    /* Set a specific height */
    min-height: $height;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
  }
  background-image: url($url);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@mixin trigger($color, $pos) {
  height: 5px;
  width: 100vw;
  position: absolute;
  z-index: 10;
  background-color: $color;
  top: $pos;
  opacity: 0;
}
@mixin titleScene($left, $top, $content: '') {
  left: $left;
  top: $top;
  font-size: 7.5rem;
  font-weight: 600;
  color: $color-black-notation;
  font-family: $font-family-7;
  position: relative;
  z-index: 5;
  .title-text {
    background: linear-gradient(86deg, #01999c, #de9400, #fd4739);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    z-index: 5;
  }
  .title-shadow {
    position: absolute;
    color: transparent;
    text-shadow: 0px 1px 5px #000;
  }
  &::after {
    content: '';
    width: 20vw;
    display: block;
    box-shadow: 0px 1px 5px #000;
    background: linear-gradient(86deg, #01999c, #de9400);
    height: 0.8vh;
    position: absolute;
    top: 15vh;
    left: 0.8vw;
    border-radius: 2px;
  }
  &::before {
    content: $content;
    position: absolute;
    font-family: $font-family-7;
    color: #fff;
    top: 16vh;
    left: 0.8vw;
    font-size: 2.3rem;
    text-shadow: 0px 0.5px 3px #000;
  }
}
