* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  @include getFontFamily($font-family-7);
}
.scene__image-container {
  position: sticky;
  top: 0;
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #666666;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border: 2px solid #9b9b9b;
  background: linear-gradient(#01999c, #de9400, #fd4739);
  border-radius: 8px;
}

body {
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
.generic-container {
  background-image: url('../img/Pizarra.png');
  background-size: 100vw 100vh;
}
.back-icon {
  left: 2vw;
  top: 5vh;
  width: 4rem;
  height: 3rem;
  position: fixed;
  z-index: 15;
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 8.4px;
  }
}
@media screen and (max-width: 1600px) {
  html {
    font-size: 13px;
  }
}
@media screen and (min-width: 2560px) {
  html {
    font-size: 13px;
  }
}
